.MyButton {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 0.5em;
    aspect-ratio: 1;

    padding: 0.5em;

    border: 0.1em solid var(--col3);
    border-radius: 0.5em;

    background-color: var(--col2);
    color: var(--col3);
}
.MyButton:hover {
    background-color: var(--col3);
    color: var(--col4);
    border-color: var(--col4);
    cursor: pointer;
}