.ToDoList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    margin: 0.5em;
    gap: 0.5em;

    text-align: center;

    max-width: 95%;
}
.ToDoList > * {
    box-sizing: content-box;
}
.ToDoList__Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    gap: 1em;

    padding: 0.5em;
    border: 0.1em dashed var(--col3);
    border-radius: 1em;

    background-color: var(--col2);
}
.ToDoList__Body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    gap: 0.5em;
}
p {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    max-width: 100%;
}