* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background-color: var(--col2);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  height: 100dvh;
}